<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<br><br>
<nav class="text-center">
  <a [routerLink]="['/SanJose']">San Jose CA</a><span> <strong> | </strong> </span>
  <a [routerLink]="['/Seattle']">Seattle WA</a><span> <strong> | </strong> </span>
  <a [routerLink]="['/Burbank']">Burbank CA</a><span> <strong> | </strong> </span>
  <a [routerLink]="['/Dallas']">Dallas TX</a><span> <strong> | </strong> </span>
  <a [routerLink]="['/DC']">Washington D.C.</a><span> <strong> | </strong> </span>
  <a [routerLink]="['/Chicago']">Chicago IL</a>
</nav>
<br>
<router-outlet></router-outlet>
