<div class="container border border-dark">
  <br>
  <div class="row text-center">
    <div class="col">
        <h1>{{city}}, TX</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h4>Humidity: {{humidity}}</h4>
      <h4>Temperature (Average): {{tempavg}}&#x2109; </h4>
      <h4>Temperature (High): {{temphigh}}&#x2109;</h4>
      <h4>Temperature (Low): {{templow}}&#x2109;</h4>
    </div>
    <div class="col-md-6">
      <img class="col-md-10" src="assets\dallas.jpeg" alt="dallas">
    </div>
  </div>
  <br>
</div>
